.container {
  padding: 12px;
  border: 4px solid black;
  text-align: center;
}

.display {
  width: 200px;
  height: 200px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  margin-bottom: 12px;
}

.colorText {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.pickersContainer {
  height: 40px;
  display: flex;
  margin-bottom: 8px;
  transition: 0.25s ease;
}

.pickersContainer div {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 4px;
  background-color: black;
}

.pickersContainer div:active {
  outline: 2px solid black;
}

.saveButton {
  display: block;
  margin: 5px auto;
}

input[type="color"] {
    width: 60px;
}